:root {
    --color-1: #FFF7D4;
    --color-2: #FFD95A;
    --color-3: #C07F00;
    --color-4: #4C3D3D;
    --color-5: white;
    
    --color-remove-1: #B70404;
    --color-remove-2: #7c0202;

    --color-read-red: #DF2E38;
    --color-read-green: #5D9C59;

    --color-overlay: #fff7d450;

    --box-shadow-1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

body {
    background-color: var(--color-4);
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--color-3);
    box-shadow: var(--box-shadow-1);
}

nav h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-1);
}

nav h1:hover {
    color: var(--color-4);
}

nav button {
    flex: 0.1 0 auto;
    border: 2px var(--color-2) solid;
    border-radius: 5px;
    background-color: var(--color-1);
    color: var(--color-4);
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
}

nav button:hover {
    background-color: var(--color-4);
    color: var(--color-1);
}

main {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;

}

main > .card {
    border: 5px var(--color-1) solid;
    border-radius: 10px;
    color: var(--color-1);
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: var(--box-shadow-1);
    white-space: nowrap;
}

.card h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    overflow: auto;
    max-width: 80%;
}

.card h2 {
    margin-bottom: 0.5rem;
    overflow: auto;
    max-width: 80%;
}

.card > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.card > .status {
    margin-top: 2rem;

}

.card button {
    flex: auto;
    padding: 0.5rem;
    border: 2px var(--color-2) solid;
    border-radius: 5px;
    background-color: var(--color-1);
    color: var(--color-4);
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
    text-transform: uppercase;
}

.status > .green {
    background-color: var(--color-read-green);
    color: var(--color-1);
}

.status > .red {
    background-color: var(--color-read-red);
    color: var(--color-1);
}

.status > .remove {
    background-color: var(--color-remove-2);
    color: var(--color-1);
}

.status > .remove:hover {
    background-color: var(--color-remove-1);
}

footer {
    margin: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
}

footer button {
    display: none;
    padding: .5rem 1.5rem;
    background-color: var(--color-1);
    border: 2px var(--color-2) solid;
    border-radius: 20px;
    font-size: 3rem;
    color: var(--color-2);
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    nav button {
        display: none;
    }
    footer button {
        display: block;
    } 
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 5px var(--color-1) solid;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--color-4);
    color: var(--color-1);
}

.add-book {
    display: flex;
    flex-direction: column;
}

.add-book > h1 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.add-book > input {
    margin: .5rem 0;
    font-size: 1rem;
    height: 2rem;
    border: 2px var(--color-1) solid;
    border-radius: 5px;
    background-color: var(--color-5);
}

.add-book > input:focus {
    outline: 3px var(--color-3) solid;
}

.add-book > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

.add-book input[type=checkbox]{
    width: 30px;
    aspect-ratio: 1;
    accent-color: var(--color-3);
}

.add-book input[type=checkbox]:checked {
    background-color: var(--color-4);
}

.add-book > button {
    text-transform: uppercase;
    font-size: 1rem;
    padding: .5rem;
    border: 2px var(--color-2) solid;
    border-radius: 5px;
    background-color: var(--color-1);
    color: var(--color-4);
}

.add-book > button:hover {
    background-color: var(--color-4);
    color: var(--color-1);
}

.active {
    display: block
}